body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
h1 {
	text-align: center;
	margin-bottom: 1.5em;
}
h2 {
	text-align: center;
	color: #555;
	margin-bottom: 0;
}
.carousel {
	/* padding: 0px; */
	perspective: 500px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
}
.carousel > * {
	flex: 0 0 auto;
}
.carousel figure {
	margin-bottom: 500px;
	width: 50%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.image-title{
	padding: 10px;
	text-align: center;
	background-color: #214a24;
	color: white;
	border: 1px solid #d3b786;
	width: auto;
	border-radius: 25px;
}
.image-title:hover{
	color: gold;
}


.wow{
	position: absolute;
	padding: 0;
}

.carousel figure img {
	width: 100%;
	box-sizing: border-box;
	padding: 0 0px;
}
.carousel figure img:not(:first-of-type) {
	position: absolute;
	left: 0;
	top: 0;
}
.carousel nav {
	display: flex;
	justify-content: center;
	margin: 20px 0 0;
}
.carousel nav button {
	flex: 0 0 auto;
	margin: 0 5px;
	cursor: pointer;
	color: #333;
	background: none;
	border: 1px solid;
	letter-spacing: 1px;
	padding: 5px 10px;
}

.btn-carousel-right {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 200px;
    /* transform: translate(+0%, +25%);
    -ms-transform: translate(+25%, +25%); */
}
.btn-carousel-left {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 200px;
    /* transform: translate(25%, 25%);
    -ms-transform: translate(25%, 25%); */
}